<template>
  <div>
    <section class="content">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Informação do Comunicado {{comunicadoInterno.codigo}}</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/comunicadosinternos" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <fieldset>
                <legend>Local e responsável pelas informações</legend>
                <div class="input-group">
                  <span class="input-group-addon" >Matrícula</span>
                  <input type="text" class="form-control" v-model="comunicadoInterno.funcionario.matricula" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="nome">Nome</span>
                  <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="comunicadoInterno.funcionario.nome" readonly>
                </div>
                <br/>
              </fieldset>
              <fieldset>
                <legend>Classificação da ocorrência</legend>
                <div class="form-group">
                  <label class="control-label">Tipo</label>
                  <label class="radio-inline">
                    <input type="radio" v-model="comunicadoInterno.tipo" value="Acidente" readonly> Acidente
                  </label>
                  <label class="radio-inline">
                    <input type="radio" v-model="comunicadoInterno.tipo" value="Quase acidente" readonly> Quase Acidente
                  </label>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Tema</label>
                  <label class="radio-inline">
                    <input type="radio" v-model="comunicadoInterno.tema" value="Saúde e Segurança do Trabalho" readonly> Saúde e Segurança do Trabalho
                  </label>
                  <label class="radio-inline">
                    <input type="radio" v-model="comunicadoInterno.tema" value="Meio Ambiente" readonly> Meio Ambiente
                  </label>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Dados da ocorrência</legend>
                <div class="form-group">
                  <label class="control-label">Descrição sucinta da ocorrência</label>
                  <textarea class="form-control" rows="3" v-model="comunicadoInterno.descricao" readonly></textarea>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Localidade do Polo</label>
                  <select class="form-control" readonly>
                    <option selected>{{comunicadoInterno.localidadePolo.nome}}</option>
                  </select>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Processo</label>
                  <select class="form-control" readonly>
                    <option selected>{{comunicadoInterno.processo.nome}}</option>
                  </select>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Tarefa</label>
                  <textarea class="form-control" rows="3" v-model="comunicadoInterno.tarefa" readonly></textarea>
                </div>
                <br/>
                <fieldset>
                  <legend>Local do acidente</legend>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Endereço</span>
                    <input type="text" class="form-control" v-model="comunicadoInterno.local.endereco" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cep">CEP</span>
                    <input type="number" class="form-control" placeholder="ex: 66115080" v-model="comunicadoInterno.local.cep" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="estado">Estado</span>
                    <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="comunicadoInterno.local.estado" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cidade">Cidade</span>
                    <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="comunicadoInterno.local.cidade" readonly>
                  </div>
                </fieldset>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Data da ocorrência:</span>
                    <input type="date" class="form-control" placeholder="31/12/1994" v-model="comunicadoInterno.dataOcorrido" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Hora da ocorrência:</span>
                    <input type="time" class="form-control" v-model="comunicadoInterno.horaOcorrido" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Representante do Sesmt</span>
                  <input type="text" class="form-control" v-model="comunicadoInterno.representanteSesmt" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Numero da CAT</span>
                  <input type="text" class="form-control" v-model="comunicadoInterno.numeroCat" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Especificação de risco</span>
                  <input type="text" class="form-control" v-model="comunicadoInterno.especificacaoRisco" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Natureza da Lesao</span>
                  <input type="text" class="form-control" v-model="comunicadoInterno.naturezaLesao" readonly>
                </div>
                <br/>
                <fieldset>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Parte do corpo atingida</span>
                    <input type="text" class="form-control" v-model="comunicadoInterno.parteCorpo" readonly>
                  </div>
                  <br/>
                  <legend>Selecione a parte do corpo atingida na imagem abaixo</legend>
                  <img src="/static/img/corpohumano.png" class="img-responsive center-block" usemap="#imagemcorpo">
                  <map name="imagemcorpo">
                    <area shape="circle" coords="151,49,50" alt="Cabeça">
                    <area shape="circle" coords="155,150,50" alt="Tronco">
                    <area shape="circle" coords="235,190,35" alt="Membros Superiores">
                    <area shape="circle" coords="270,284,35" alt="Mãos">
                    <area shape="circle" coords="130,395,35" alt="Membros Inferiores">
                    <area shape="circle" coords="180,450,35" alt="Partes Multiplas">
                    <area shape="circle" coords="130,510,35"  alt="Pés">
                  </map>
                </fieldset>
                <fieldset>
                  <legend>Gravidade do Ocorrido</legend>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Gravidade</th>
                        <th>Descricao</th>
                      </tr>
                      <tr style="background-color:#60bf40;">
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" v-model="comunicadoInterno.gravidade" value="Leve" aria-label="..." readonly>
                              Leve
                            </label>
                          </div>
                        </td>
                        <td>
                          <p>Primeiros Socorros</p>
                        </td>
                      </tr>
                      <tr style="background-color:#67a6e4;">
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" v-model="comunicadoInterno.gravidade" value="Moderada" aria-label="..." readonly>
                              Moderada
                            </label>
                          </div>
                        </td>
                        <td>
                          <p>Lesões que podem gerar cicatrizes, havendo necessidade de cuidados médicos, podendo ou não haver afastamento.</p>
                        </td>
                      </tr>
                      <tr style="background-color:#dfaf20;">
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" v-model="comunicadoInterno.gravidade" value="Grave" aria-label="..." readonly>
                              Grave
                            </label>
                          </div>
                        </td>
                        <td>
                          <p>Acidentes que podem levar a incapacidade temporária ou definitiva e com afastamento acima de 15 dias.</p>
                        </td>
                      </tr>
                      <tr style="background-color:#cc3359;">
                        <td>
                          <div class="radio">
                            <label>
                              <input type="radio" v-model="comunicadoInterno.gravidade" value="Gravíssima" aria-label="..." readonly>
                              Gravíssima
                            </label>
                          </div>
                        </td>
                        <td>
                          <p>Acidentes com fatalidade</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Pessoas envolvidas na ocorrência</legend>
                <table class="table table-striped table-bordered table-condense">
                  <tbody>
                    <tr>
                      <th style="width: 150px">Matricula</th>
                      <th>Nome</th>
                      <th style="width: 150px">Envolvimento</th>
                      <th style="width: 150px">Relação</th>
                    </tr>
                    <tr v-for="envolvido in comunicadoInterno.envolvidosFuncionarios">
                      <td>
                        {{envolvido.idFuncionario.matricula}}
                      </td>
                      <td>
                        {{envolvido.idFuncionario.nome}}
                      </td>
                      <td>
                        <select class="form-control" readonly>
                          <option selected>{{envolvido.envolvimento}}</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control" readonly>
                          <option selected>{{envolvido.relacao}}</option>
                        </select>
                      </td>
                    </tr>
                    <tr v-for="envolvido in comunicadoInterno.envolvidos">
                      <td>
                        Não há
                      </td>
                      <td>
                        {{envolvido.nome}}
                      </td>
                      <td>
                        <select class="form-control" readonly>
                          <option selected>{{envolvido.envolvimento}}</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-control" readonly>
                          <option selected>{{envolvido.relacao}}</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br/>
              </fieldset>
              <br/>
              <div class="form-group">
                <label class="control-label">Danos pessoais sofridos relatados pelo empregado e/ou testemunha</label>
                <textarea class="form-control" rows="3" v-model="comunicadoInterno.danosPessoais" readonly></textarea>
              </div>
              <br/>
              <div class="form-group">
                <label class="control-label">Danos materiais / ambientais</label>
                <textarea class="form-control" rows="3" v-model="comunicadoInterno.danosMateriaisAmbientais" readonly></textarea>
              </div>
              <br/>
              <div class="form-group">
                <label class="control-label">Ocorreu geração de resíduos?</label>
                <label class="radio-inline">
                  <input type="radio" name="tipo" v-model.number="houveResiduos" value="0"> Não
                </label>
                <label class="radio-inline">
                  <input type="radio" name="tipo" v-model.number="houveResiduos" value="1"> Sim
                </label>
              </div>
              <br/>
              <table class="table table-striped table-bordered" v-if="houveResiduos !== 0">
                <tbody>
                  <tr>
                    <th>Identificação do resíduo</th>
                    <th style="width: 150px">Quantidade</th>
                    <th style="width: 150px">Destinação dada</th>
                  </tr>
                  <tr v-for="residuo in comunicadoInterno.residuos">
                    <td>
                      {{residuo.identificacao}}
                    </td>
                    <td>
                      {{residuo.quantidade}}
                    </td>
                    <td>
                      {{residuo.destinacaoDada}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <br/>
              <div style="width: 100%; height: 300px">
                <google-map :center="center" :zoom="17">
                  <map-marker :position="marker" :opacity="marker.opacity" v-model="marker">
                  </map-marker>
                </google-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import * as VueGoogleMaps from 'vue2-google-maps'
  export default {
    name: 'comunicadointerno',
    data () {
      return {
        marker: { lat: JSON.parse(this.$store.state.comunicadosInternos[this.$route.query.index].local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.comunicadosInternos[this.$route.query.index].local.posicaoGeografica).lng },
        center: { lat: JSON.parse(this.$store.state.comunicadosInternos[this.$route.query.index].local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.comunicadosInternos[this.$route.query.index].local.posicaoGeografica).lng }
      }
    },
    computed: {
      comunicadoInterno () {
        return this.$store.state.comunicadosInternos[this.$route.query.index]
      },
      houveResiduos () {
        if (this.$store.state.comunicadosInternos[this.$route.query.index].residuos.length !== 0) {
          return 1
        } else {
          return 0
        }
      }
    },
    components: {
      'googleMap': VueGoogleMaps.Map,
      'MapMarker': VueGoogleMaps.Marker
    }
  }
</script>
<style>

</style>
