<template>
  <div>
    <section class="content">
      <div class="alert alert-dismissible" :class="[error2Class]" role="alert" v-if="erro">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="desaparecer"><span aria-hidden="true">&times;</span></button>
        <strong>Atenção!</strong> {{mensagemErro}}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Nova Análise Preliminar de Risco</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/analisesrisco" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <form @submit.prevent="alterar" autocomplete="off">
                <div class="input-group">
                  <span class="input-group-addon">Data:</span>
                    <input type="date" class="form-control" placeholder="31/12/1994" v-model="dataOcorrido">
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label" for="localidadePolo">Local de trabalho</label>
                  <select class="form-control" id="localidadePolo" v-model="localidadePoloSelecionada" required>
                    <option v-for="localidadePolo in localidadesPolo" :value="localidadePolo">{{localidadePolo.nome}}</option>
                  </select>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label" for="processo">Processo</label>
                  <select class="form-control" id="processo" v-model="processoSelecionado" required>
                    <option v-for="processo in processos" :value="processo">{{processo.nome}}</option>
                  </select>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label" >Tarefa</label>
                  <select class="form-control" v-model="tarefaSelecionada" required>
                    <option v-for="tarefa in tarefas" :value="tarefa">{{tarefa.nome}}</option>
                  </select>
                </div>
                <br/>
                <fieldset>
                  <legend>Local</legend>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Endereço</span>
                    <input type="text" class="form-control" v-model=vm.searchPlace v-gmaps-searchbox:location=vm placeholder="ex: Passagem santa cruz">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cep">CEP</span>
                    <input type="number" class="form-control" placeholder="ex: 66115080" v-model="cep" >
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="estado">Estado</span>
                    <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="estado">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cidade">Cidade</span>
                    <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="cidade">
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Responsável</legend>
                  <div class="input-group">
                    <span class="input-group-addon" >Matrícula</span>
                    <input type="text" class="form-control" v-model="matriculaResponsavel" placeholder="ex: 220302" list="matriculas" @change="autoResponsavel()">
                    <datalist id="matriculas">
                      <option v-for="funcionario in funcionarios" :value="funcionario.matricula">
                    </datalist>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="nome">Nome</span>
                    <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="nomeResponsavel" list="funcionarios">
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                <legend>Equipe</legend>
                <div class="input-group">
                  <span class="input-group-addon" >Matrícula</span>
                  <input type="text" class="form-control" v-model="matriculaMembro" placeholder="ex: 220302" list="matriculas" @change="autoMembro()">
                  <datalist id="matriculas">
                    <option v-for="funcionario in funcionarios" :value="funcionario.matricula">
                  </datalist>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="nome">Nome</span>
                  <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="nomeMembro" list="funcionarios">
                </div>
                <button class="btn btn-default" type="button" @click="adicionarMembro()"><span class="fa fa-plus"> Adicionar membro</button>
                <br/>
                <div v-for="(membro,index) in membros">
                  <li>{{membro.nome}} , {{membro.matricula}} <button class="btn btn-default btn-small" type="button" @click="removerMembro(index)"><span class="fa fa-remove"></span></button></li>
                </br>
                </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Descrição da Atividade</legend>
                  <div class="form-group">
                    <label class="control-label">Nº O.S</label>
                    <textarea class="form-control" rows="3" v-model="descricaoAtividade"></textarea>
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Identificação de Riscos</legend>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12" v-for="riscoidentificado in riscosIdentificados">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" :value="riscoidentificado" v-model="checkedRiscosIdentificados" aria-label="...">
                        </span>
                        <input type="text" class="form-control" :value="riscoidentificado.nome" readonly>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Equipamentos de Proteção Individual - EPI's necessários</legend>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12" v-for="equipamentoIndividual in equipamentosIndividuais">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" :value="equipamentoIndividual" v-model="checkedEquipamentosIndividuais">
                        </span>
                        <input type="text" class="form-control" :value="equipamentoIndividual.nome" readonly>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Equipamentos de Proteção Coletiva - EPC's necessários</legend>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12" v-for="equipamentoColetivo in equipamentosColetivos">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" :value="equipamentoColetivo" v-model="checkedEquipamentosColetivos" aria-label="...">
                        </span>
                        <input type="text" class="form-control" :value="equipamentoColetivo.nome" readonly>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Análise preliminar das atividades</legend>
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Perguntas</th>
                        <th style="width: 50px">Sim</th>
                        <th style="width: 50px">Não</th>
                        <th style="width: 50px">N/A</th>
                      </tr>
                        <tr v-for="(pergunta,index) in perguntasRisco">
                          <td>
                            {{pergunta.pergunta}}
                          </td>
                          <td>
                            <div class="radio">
                              <label>
                                <input type="radio" v-model="respostas[index]" value="Sim" aria-label="...">
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="radio">
                              <label>
                                <input type="radio" v-model="respostas[index]" value="Não" aria-label="...">
                              </label>
                            </div>
                          </td>
                          <td>
                            <div class="radio">
                              <label>
                                <input type="radio" v-model="respostas[index]" value="N/A" aria-label="...">
                              </label>
                            </div>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Parecer da Equipe</legend>
                  <div class="form-group">
                    <label class="control-label">A atividade pode ser realizada com segurança?</label>
                    <label class="radio-inline">
                      <input type="radio" name="atividadeSegura" v-model.number="atividadeSegura" value="1"> Sim
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="atividadeSegura" v-model.number="atividadeSegura" value="0"> Não
                    </label>
                  </div>
                  <br/>
                  <div class="form-group" v-if="atividadeSegura !== 0">
                    <label class="control-label">Justificativa</label>
                    <textarea class="form-control" rows="3" v-model="justificativa"></textarea>
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Observação</legend>
                  <div class="form-group">
                    <textarea class="form-control" rows="3" v-model="observacao"></textarea>
                  </div>
                </fieldset>
                <br/>
                <div class="input-group" :class="[errorClass]">
                  <input type="submit" id="enviar" class="btn btn-primary">
                  <span class="help-block">{{mensagemEnvio}}</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  export default {
    name: 'editaranaliserisco',
    data () {
      return {
        localidadePoloSelecionada: '',
        localidadePoloSelecionadaCopia: '',
        justificativa: '',
        justificativaCopia: '',
        atividadeSegura: '0',
        atividadeSeguraCopia: '',
        dataCriacao: '',
        dataCriacaoCopia: '',
        horaCriacao: '',
        horaCriacaoCopia: '',
        dataOcorrido: '',
        dataOcorridoCopia: '',
        descricaoAtividade: '',
        descricaoAtividadeCopia: '',
        observacao: '',
        observacaoCopia: '',
        endereco: '',
        enderecoCopia: '',
        cep: '',
        cepCopia: '',
        posicaoGeografica: '',
        posicaoGeograficaCopia: '',
        estado: '',
        estadoCopia: '',
        cidade: '',
        cidadeCopia: '',
        funcionario: '',
        nomeResponsavel: '',
        nomeResponsavelCopia: '',
        matriculaResponsavel: '',
        matriculaResponsavelCopia: '',
        processoSelecionado: '',
        processoSelecionadoCopia: '',
        analiserisco2: '',
        errorClass: '',
        error2Class: '',
        mensagemEnvio: '',
        mensagemErro: '',
        erro: '',
        vm: {
          searchPlace: '',
          location: {}
        },
        nomeMembro: '',
        matriculaMembro: '',
        membros: [],
        membrosCopia: [],
        checkedEquipamentosColetivos: [],
        checkedEquipamentosIndividuais: [],
        checkedRiscosIdentificados: [],
        respostas: [],
        respostasCopia: [],
        membro: '',
        membros2: [],
        riscoidentificado: '',
        equipamentoIndividual: '',
        index1: 0,
        index2: 0,
        possivelFuncionario: '',
        novosFuncionarios: [],
        novosFuncionariosCopia: [],
        tarefaSelecionada: '',
        tarefaSelecionadaCopia: '',
        codigo: this.$store.state.analisesrisco[this.$route.query.index].codigo,
        codigoCopia: this.$store.state.analisesrisco[this.$route.query.index].codigo
      }
    },
    computed: {
      analiserisco () {
        return this.$store.state.analisesrisco[this.$route.query.index]
      },
      funcionarios () {
        return this.$store.state.funcionarios
      },
      processos () {
        return this.$store.state.processos
      },
      tarefas () {
        return this.$store.state.tarefas
      },
      dados () {
        return this.vm.location
      },
      preenchido () {
        return this.vm.searchPlace
      },
      riscosIdentificados () {
        return this.$store.state.riscosidentificados
      },
      equipamentosIndividuais () {
        return this.$store.state.equipamentosindividuais
      },
      equipamentosColetivos () {
        return this.$store.state.equipamentoscoletivos
      },
      perguntasRisco () {
        return this.$store.state.perguntasrisco
      },
      localidadesPolo () {
        return this.$store.state.localidadespolo
      },
      checkedRiscosIdentificadosCopia () {
        this.checkedRiscosIdentificados
      },
      checkedEquipamentosIndividuaisCopia () {
        this.checkedEquipamentosIndividuais
      },
      checkedEquipamentosColetivosCopia () {
        this.checkedEquipamentosColetivos
      }
    },
    mounted () {
      this.getFuncionarios()
      this.getProcessos()
      this.getEquipamentosColetivos()
      this.getEquipamentosIndividuais()
      this.getRiscosIdentificados()
      this.getPerguntasRisco()
      this.getLocalidadesPolo()
      this.getTarefas()
      this.atividadeSegura = this.$store.state.analisesrisco[this.$route.query.index].atividadeSegura
      this.justificativa = this.$store.state.analisesrisco[this.$route.query.index].justificativa
      this.dataCriacao = this.$store.state.analisesrisco[this.$route.query.index].dataCriacao
      this.horaCriacao = this.$store.state.analisesrisco[this.$route.query.index].horaCriacao
      this.dataOcorrido = this.$store.state.analisesrisco[this.$route.query.index].dataOcorrido
      this.descricaoAtividade = this.$store.state.analisesrisco[this.$route.query.index].descricaoAtividade
      this.observacao = this.$store.state.analisesrisco[this.$route.query.index].observacao
      this.nomeResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.nome
      this.matriculaResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.matricula
      this.endereco = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
      this.vm.searchPlace = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
      this.cep = this.$store.state.analisesrisco[this.$route.query.index].local.cep
      this.posicaoGeografica = this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica
      this.estado = this.$store.state.analisesrisco[this.$route.query.index].local.estado
      this.cidade = this.$store.state.analisesrisco[this.$route.query.index].local.cidade
      this.adicionarMembros()
      this.adicionarRespostas()
    },
    watch: {
      analiserisco () {
        this.atividadeSegura = this.$store.state.analisesrisco[this.$route.query.index].atividadeSegura
        this.justificativa = this.$store.state.analisesrisco[this.$route.query.index].justificativa
        this.dataCriacao = this.$store.state.analisesrisco[this.$route.query.index].dataCriacao
        this.horaCriacao = this.$store.state.analisesrisco[this.$route.query.index].horaCriacao
        this.dataOcorrido = this.$store.state.analisesrisco[this.$route.query.index].dataOcorrido
        this.descricaoAtividade = this.$store.state.analisesrisco[this.$route.query.index].descricaoAtividade
        this.observacao = this.$store.state.analisesrisco[this.$route.query.index].observacao
        this.nomeResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.nome
        this.matriculaResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.matricula
        this.endereco = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
        this.vm.searchPlace = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
        this.cep = this.$store.state.analisesrisco[this.$route.query.index].local.cep
        this.posicaoGeografica = this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica
        this.estado = this.$store.state.analisesrisco[this.$route.query.index].local.estado
        this.cidade = this.$store.state.analisesrisco[this.$route.query.index].local.cidade
        this.processoSelecionado = this.$store.state.analisesrisco[this.$route.query.index].processo
        this.localidadePoloSelecionada = this.$store.state.analisesrisco[this.$route.query.index].localidadePolo
        this.checkedRiscosIdentificados = this.$store.state.analisesrisco[this.$route.query.index].riscosIdentificados
        this.checkedEquipamentosIndividuais = this.$store.state.analisesrisco[this.$route.query.index].equipamentosIndividuais
        this.checkedEquipamentosColetivos = this.$store.state.analisesrisco[this.$route.query.index].equipamentosColetivos
        this.tarefaSelecionada = this.$store.state.analisesrisco[this.$route.query.index].tarefa
        this.adicionarMembros()
        this.adicionarRespostas()
      },
      dados () {
        this.carregarEnderecos()
      },
      preenchido () {
        if (this.preenchido === '') {
          this.cep = ''
          this.estado = ''
          this.cidade = ''
          this.posicaoGeografica = ''
        }
      }
    },
    methods: {
      alterar () {
        this.dataCriacao = new Date().toLocaleDateString()
        this.horaCriacao = new Date().toLocaleTimeString()
        this.dataOcorrido = this.reverseData(this.dataOcorrido)
        this.dataCriacao = this.reverseData(this.dataCriacao)
        this.atividadeSeguraCopia = this.atividadeSegura
        this.justificativaCopia = this.justificativa
        this.dataCriacaoCopia = this.dataCriacao
        this.horaCriacaoCopia = this.horaCriacao
        this.dataOcorridoCopia = this.dataOcorrido
        this.descricaoAtividadeCopia = this.descricaoAtividade
        this.observacaoCopia = this.observacao
        this.enderecoCopia = this.endereco
        this.cepCopia = this.cep
        this.posicaoGeograficaCopia = this.posicaoGeografica
        this.estadoCopia = this.estado
        this.cidadeCopia = this.cidade
        this.nomeResponsavelCopia = this.nomeResponsavel
        this.matriculaResponsavelCopia = this.matriculaResponsavel
        this.processoSelecionadoCopia = this.processoSelecionado
        this.localidadePoloSelecionadaCopia = this.localidadePoloSelecionada
        this.tarefaSelecionadaCopia = this.tarefaSelecionada
        this.respostasCopia = this.respostas
        this.membrosCopia = this.membros
        this.$http.delete(this.$store.state.urlAPI + 'dados/equipamentoscoletivosanaliserisco/' + this.analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
        this.$http.delete(this.$store.state.urlAPI + 'dados/equipamentosindividuaisanaliserisco/' + this.analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
        this.$http.delete(this.$store.state.urlAPI + 'dados/membrosanaliserisco/' + this.analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
        this.$http.delete(this.$store.state.urlAPI + 'dados/respostasrisco/' + this.analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
        this.$http.delete(this.$store.state.urlAPI + 'dados/riscosidentificadosanaliserisco/' + this.analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
        var novo = true
        for (this.funcionario in this.funcionarios) {
          if (this.matriculaResponsavel === this.funcionarios[this.funcionario].matricula) {
            novo = false
            break
          }
        }
        if (novo === false) {
          this.$http.put(this.$store.state.urlAPI + 'dados/locais/' + this.analiserisco.local.id, {
            'Endereco': this.endereco,
            'CEP': this.cep,
            'PosicaoGeografica': this.posicaoGeografica,
            'Estado': this.estado,
            'Cidade': this.cidade
          }).then((response) => {
            console.log('sucess ', response.body)
            this.$http.put(this.$store.state.urlAPI + 'formularios/analisesrisco/' + this.analiserisco.id, {
              'DataCriacao': this.dataCriacao,
              'HoraCriacao': this.horaCriacao,
              'DescricaoAtividade': this.descricaoAtividade,
              'Observacao': this.observacao,
              'TB_Local_idTB_Local': this.analiserisco.local.id,
              'TB_Processo_idTB_Processo': this.processoSelecionado.id,
              'DataOcorrido': this.dataOcorrido,
              'Codigo': this.codigo,
              'Justificativa': this.justificativa,
              'AtividadeSegura': this.atividadeSegura,
              'TB_Funcionario_Matricula': this.matriculaResponsavel,
              'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionada.id,
              'TB_Tarefa_idTB_Tarefa': this.tarefaSelecionada.id
            }).then((response) => {
              console.log('sucess ', response.body)
              this.$store.commit('ATUALIZAR_ANALISERISCO', {
                'index': this.$route.query.index,
                'dataCriacao': this.dataCriacaoCopia,
                'horaCriacao': this.horaCriacaoCopia,
                'dataOcorrido': this.dataOcorridoCopia,
                'descricaoAtividade': this.descricaoAtividade,
                'atividadeSegura': this.atividadeSeguraCopia,
                'justificativa': this.justificativaCopia,
                'observacao': this.observacaoCopia,
                'codigo': this.codigoCopia,
                'local': {
                  'id': this.$store.state.analisesrisco[this.$route.query.index].local.id,
                  'endereco': this.enderecoCopia,
                  'cep': this.cepCopia,
                  'posicaoGeografica': this.posicaoGeograficaCopia,
                  'estado': this.estadoCopia,
                  'cidade': this.cidadeCopia
                },
                'funcionario': {
                  'matricula': this.matriculaResponsavelCopia,
                  'nome': this.nomeResponsavelCopia,
                  'dataNascimento': '',
                  'sexo': '',
                  'estadoCivil': '',
                  'inicioFuncao': '',
                  'grauInstrucao': '',
                  'estadoInstrucao': '',
                  'inicioRefeicao': '',
                  'fimRefeicao': '',
                  'turnoTrabalho': '',
                  'nacionalidade': '',
                  'local': {
                    'id': '',
                    'endereco': '',
                    'cep': '',
                    'posicaoGeografica': '',
                    'estado': '',
                    'cidade': ''
                  },
                  'funcao': {'id': '', 'nome': ''},
                  'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                },
                'processo': this.processoSelecionadoCopia,
                'localidadePolo': this.localidadePoloSelecionadaCopia,
                'tarefa': this.tarefaSelecionadaCopia,
                'equipamentosColetivos': [],
                'equipamentosIndividuais': [],
                'riscosIdentificados': [],
                'perguntasRespondidas': [],
                'membros': []
              })
              this.analiserisco2 = this.$route.query.index
              for (this.riscoidentificado in this.checkedRiscosIdentificadosCopia) {
                this.$http.post(this.$store.state.urlAPI + 'dados/riscosidentificadosanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.checkedRiscosIdentificadosCopia[this.riscoidentificado].id, {
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ADD_RISCOSIDENTIFICADOSANALISERISCO', {
                    'index': this.$route.query.index,
                    'riscoidentificado': this.checkedRiscosIdentificadosCopia[this.riscoidentificado]
                  })
                }, (response) => {
                  console.log('erro: ', response)
                  this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                  this.error2Class = 'alert-warning'
                  this.erro = true
                })
              }
              this.verificarFuncionarios(this.$store.state.analisesrisco[this.$route.query.index])
              for (this.membro in this.membros) {
                this.$http.post(this.$store.state.urlAPI + 'dados/membrosanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.membros[this.membro].matricula, {
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ADD_MEMBROSANALISERISCO', {
                    'index': this.$route.query.index,
                    'membro': this.membros[this.membro]
                  })
                }, (response) => {
                  console.log('erro: ', response)
                  this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                  this.error2Class = 'alert-warning'
                  this.erro = true
                })
              }
              for (this.equipamentoIndividual in this.checkedEquipamentosIndividuaisCopia) {
                this.$http.post(this.$store.state.urlAPI + 'dados/equipamentosindividuaisanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.checkedEquipamentosIndividuaisCopia[this.equipamentoIndividual].id, {
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ADD_EQUIPAMENTOSINDIVIDUAISANALISERISCO', {
                    'index': this.$route.query.index,
                    'equipamentoIndividual': {
                      'id': this.checkedEquipamentosIndividuaisCopia[this.equipamentoIndividual].id,
                      'nome': this.checkedEquipamentosIndividuaisCopia[this.equipamentoIndividual].nome
                    }
                  })
                }, (response) => {
                  console.log('erro: ', response)
                  this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                  this.error2Class = 'alert-warning'
                  this.erro = true
                })
              }
              for (this.equipamentoColetivo in this.checkedEquipamentosColetivosCopia) {
                this.$http.post(this.$store.state.urlAPI + 'dados/equipamentoscoletivosanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.checkedEquipamentosColetivosCopia[this.equipamentoColetivo].id, {
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ADD_EQUIPAMENTOSCOLETIVOSANALISERISCO', {
                    'index': this.$route.query.index,
                    'equipamentoColetivo': {
                      'id': this.checkedEquipamentosColetivosCopia[this.equipamentoColetivo].id,
                      'nome': this.checkedEquipamentosColetivosCopia[this.equipamentoColetivo].nome
                    }
                  })
                }, (response) => {
                  console.log('erro: ', response)
                  this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                  this.error2Class = 'alert-warning'
                  this.erro = true
                })
              }
              for (this.pergunta in this.perguntasRisco) {
                this.$http.post(this.$store.state.urlAPI + 'dados/respostasrisco/nova_resposta', {
                  'TB_AnaliseRisco_idTB_AnaliseRisco': this.$store.state.analisesrisco[this.$route.query.index].id,
                  'TB_PerguntaRisco_idTB_PerguntaRisco': this.perguntasRisco[this.pergunta].id,
                  'Resposta': this.respostasCopia[this.pergunta]
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ADD_RESPOSTASRISCO', {
                    'index': this.$route.query.index,
                    'perguntaRespondida': {
                      'idReferencia': this.$store.state.analisesrisco[this.$route.query.index].id,
                      'idPergunta': this.perguntasRisco[this.pergunta].id,
                      'resposta': this.respostasCopia[this.pergunta]
                    }
                  })
                }, (response) => {
                  console.log('erro: ', response)
                  this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                  this.error2Class = 'alert-warning'
                  this.erro = true
                })
              }
              this.atividadeSegura = this.$store.state.analisesrisco[this.$route.query.index].atividadeSegura
              this.justificativa = this.$store.state.analisesrisco[this.$route.query.index].justificativa
              this.dataCriacao = this.$store.state.analisesrisco[this.$route.query.index].dataCriacao
              this.horaCriacao = this.$store.state.analisesrisco[this.$route.query.index].horaCriacao
              this.dataOcorrido = this.$store.state.analisesrisco[this.$route.query.index].dataOcorrido
              this.descricaoAtividade = this.$store.state.analisesrisco[this.$route.query.index].descricaoAtividade
              this.observacao = this.$store.state.analisesrisco[this.$route.query.index].observacao
              this.nomeResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.nome
              this.matriculaResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.matricula
              this.endereco = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
              this.vm.searchPlace = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
              this.cep = this.$store.state.analisesrisco[this.$route.query.index].local.cep
              this.posicaoGeografica = this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica
              this.estado = this.$store.state.analisesrisco[this.$route.query.index].local.estado
              this.cidade = this.$store.state.analisesrisco[this.$route.query.index].local.cidade
              this.processoSelecionado = this.$store.state.analisesrisco[this.$route.query.index].processo
              this.localidadePoloSelecionada = this.$store.state.analisesrisco[this.$route.query.index].localidadePolo
              this.checkedEquipamentosColetivos = this.$store.state.analisesrisco[this.$route.query.index].equipamentosColetivos
              this.checkedEquipamentosIndividuais = this.$store.state.analisesrisco[this.$route.query.index].equipamentosIndividuais
              this.checkedRiscosIdentificados = this.$store.state.analisesrisco[this.$route.query.index].riscosIdentificados
              this.tarefaSelecionada = this.$store.state.analisesrisco[this.$route.query.index].tarefa
              this.analiserisco2 = ''
              this.nomeMembro = ''
              this.matriculaMembro = ''
              this.adicionarMembros()
              this.membro = ''
              this.riscoidentificado = ''
              this.equipamentoIndividual = ''
              this.errorClass = 'has-success'
              this.mensagemEnvio = 'Enviado com sucesso'
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
        } else {
          this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
            'Matricula': this.matriculaResponsavel,
            'Nome': this.nomeResponsavel,
            'DataNascimento': '0000-00-00',
            'Sexo': '',
            'EstadoCivil': '',
            'InicioFuncao': '',
            'GrauInstrucao': '',
            'EstadoInstrucao': '',
            'InicioRefeicao': '',
            'FinalRefeicao': '',
            'TurnoTrabalho': '',
            'Nacionalidade': '',
            'TB_Local_idTB_Local': 'NULL',
            'TB_Funcao_idTB_Funcao': 'NULL',
            'TB_LocalidadePolo_idTB_LocalidadePolo': 'NULL'
          }).then((response) => {
            console.log('sucess ', response.body)
            response.json().then((dataFuncionario) => {
              this.matriculaResponsavel = this.matriculaResponsavelCopia
              this.nomeResponsavel = this.nomeResponsavelCopia
              this.$store.commit('ADD_FUNCIONARIO', {
                'matricula': this.matriculaResponsavelCopia,
                'nome': this.nomeResponsavelCopia,
                'dataNascimento': '',
                'sexo': '',
                'estadoCivil': '',
                'inicioFuncao': '',
                'grauInstrucao': '',
                'estadoInstrucao': '',
                'inicioRefeicao': '',
                'fimRefeicao': '',
                'turnoTrabalho': '',
                'nacionalidade': '',
                'local': {
                  'id': '',
                  'endereco': '',
                  'cep': '',
                  'posicaoGeografica': '',
                  'estado': '',
                  'cidade': ''
                },
                'funcao': {'id': '', 'nome': ''},
                'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
              })
              this.$http.put(this.$store.state.urlAPI + 'dados/locais' + this.analiserisco.local.id, {
                'Endereco': this.endereco,
                'CEP': this.cep,
                'PosicaoGeografica': this.posicaoGeografica,
                'Estado': this.estado,
                'Cidade': this.cidade
              }).then((response) => {
                console.log('sucess ', response.body)
                this.$http.put(this.$store.state.urlAPI + 'formularios/analisesrisco/' + this.analiserisco.id, {
                  'DataCriacao': this.dataCriacao,
                  'HoraCriacao': this.horaCriacao,
                  'DescricaoAtividade': this.descricaoAtividade,
                  'Observacao': this.observacao,
                  'TB_Local_idTB_Local': this.$store.state.analisesrisco[this.$route.query.index].local.id,
                  'TB_Processo_idTB_Processo': this.processoSelecionado.id,
                  'DataOcorrido': this.dataOcorrido,
                  'Codigo': this.codigo,
                  'Justificativa': this.justificativa,
                  'AtividadeSegura': this.atividadeSegura,
                  'TB_Funcionario_Matricula': this.matriculaResponsavel,
                  'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionada.id,
                  'TB_Tarefa_idTB_Tarefa': this.tarefaSelecionada.id
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ATUALIZAR_ANALISERISCO', {
                    'index': this.$route.query.index,
                    'dataCriacao': this.dataCriacaoCopia,
                    'horaCriacao': this.horaCriacaoCopia,
                    'dataOcorrido': this.dataOcorridoCopia,
                    'descricaoAtividade': this.descricaoAtividade,
                    'atividadeSegura': this.atividadeSeguraCopia,
                    'justificativa': this.justificativaCopia,
                    'observacao': this.observacaoCopia,
                    'codigo': this.codigoCopia,
                    'local': {
                      'id': this.$store.state.analisesrisco[this.$route.query.index].local.id,
                      'endereco': this.enderecoCopia,
                      'cep': this.cepCopia,
                      'posicaoGeografica': this.posicaoGeograficaCopia,
                      'estado': this.estadoCopia,
                      'cidade': this.cidadeCopia
                    },
                    'funcionario': {
                      'matricula': this.matriculaResponsavelCopia,
                      'nome': this.nomeResponsavelCopia,
                      'dataNascimento': '',
                      'sexo': '',
                      'estadoCivil': '',
                      'inicioFuncao': '',
                      'grauInstrucao': '',
                      'estadoInstrucao': '',
                      'inicioRefeicao': '',
                      'fimRefeicao': '',
                      'turnoTrabalho': '',
                      'nacionalidade': '',
                      'local': {
                        'id': '',
                        'endereco': '',
                        'cep': '',
                        'posicaoGeografica': '',
                        'estado': '',
                        'cidade': ''
                      },
                      'funcao': {'id': '', 'nome': ''},
                      'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                    },
                    'processo': this.processoSelecionadoCopia,
                    'localidadePolo': this.localidadePoloSelecionadaCopia,
                    'tarefa': this.tarefaSelecionadaCopia,
                    'equipamentosColetivos': [],
                    'equipamentosIndividuais': [],
                    'riscosIdentificados': [],
                    'perguntasRespondidas': [],
                    'membros': []
                  })
                  this.analiserisco2 = this.$route.query.index
                  for (this.riscoidentificado in this.checkedRiscosIdentificadosCopia) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/riscosidentificadosanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.checkedRiscosIdentificadosCopia[this.riscoidentificado].id, {
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      this.$store.commit('ADD_RISCOSIDENTIFICADOSANALISERISCO', {
                        'index': this.$route.query.index,
                        'riscoidentificado': this.checkedRiscosIdentificadosCopia[this.riscoidentificado]
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                  this.verificarFuncionarios(this.$store.state.analisesrisco[this.$route.query.index])
                  for (this.membro in this.membros) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/membrosanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.membros[this.membro].matricula, {
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      this.$store.commit('ADD_MEMBROSANALISERISCO', {
                        'index': this.$route.query.index,
                        'membro': this.membros[this.membro]
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                  for (this.equipamentoIndividual in this.checkedEquipamentosIndividuaisCopia) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/equipamentosindividuaisanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.checkedEquipamentosIndividuaisCopia[this.equipamentoIndividual].id, {
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      this.$store.commit('ADD_EQUIPAMENTOSINDIVIDUAISANALISERISCO', {
                        'index': this.$route.query.index,
                        'equipamentoIndividual': {
                          'id': this.checkedEquipamentosIndividuaisCopia[this.equipamentoIndividual].id,
                          'nome': this.checkedEquipamentosIndividuaisCopia[this.equipamentoIndividual].nome
                        }
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                  for (this.equipamentoColetivo in this.checkedEquipamentosColetivosCopia) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/equipamentoscoletivosanaliserisco/' + this.$store.state.analisesrisco[this.$route.query.index].id + '/' + this.checkedEquipamentosColetivosCopia[this.equipamentoColetivo].id, {
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      this.$store.commit('ADD_EQUIPAMENTOSCOLETIVOSANALISERISCO', {
                        'index': this.$route.query.index,
                        'equipamentoColetivo': {
                          'id': this.checkedEquipamentosColetivosCopia[this.equipamentoColetivo].id,
                          'nome': this.checkedEquipamentosColetivosCopia[this.equipamentoColetivo].nome
                        }
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                  for (this.pergunta in this.perguntasRisco) {
                    this.$http.post(this.$store.state.urlAPI + 'dados/respostasrisco/nova_resposta', {
                      'TB_AnaliseRisco_idTB_AnaliseRisco': this.$store.state.analisesrisco[this.$route.query.index].id,
                      'TB_PerguntaRisco_idTB_PerguntaRisco': this.perguntasRisco[this.pergunta].id,
                      'Resposta': this.respostasCopia[this.pergunta]
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      this.$store.commit('ADD_RESPOSTASRISCO', {
                        'index': this.$route.query.index,
                        'perguntaRespondida': {
                          'idReferencia': this.$store.state.analisesrisco[this.$route.query.index].id,
                          'idPergunta': this.perguntasRisco[this.pergunta].id,
                          'resposta': this.respostasCopia[this.pergunta]
                        }
                      })
                    }, (response) => {
                      console.log('erro: ', response)
                      this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                      this.error2Class = 'alert-warning'
                      this.erro = true
                    })
                  }
                  this.atividadeSegura = this.$store.state.analisesrisco[this.$route.query.index].atividadeSegura
                  this.justificativa = this.$store.state.analisesrisco[this.$route.query.index].justificativa
                  this.dataCriacao = this.$store.state.analisesrisco[this.$route.query.index].dataCriacao
                  this.horaCriacao = this.$store.state.analisesrisco[this.$route.query.index].horaCriacao
                  this.dataOcorrido = this.$store.state.analisesrisco[this.$route.query.index].dataOcorrido
                  this.descricaoAtividade = this.$store.state.analisesrisco[this.$route.query.index].descricaoAtividade
                  this.observacao = this.$store.state.analisesrisco[this.$route.query.index].observacao
                  this.nomeResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.nome
                  this.matriculaResponsavel = this.$store.state.analisesrisco[this.$route.query.index].funcionario.matricula
                  this.endereco = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
                  this.vm.searchPlace = this.$store.state.analisesrisco[this.$route.query.index].local.endereco
                  this.cep = this.$store.state.analisesrisco[this.$route.query.index].local.cep
                  this.posicaoGeografica = this.$store.state.analisesrisco[this.$route.query.index].local.posicaoGeografica
                  this.estado = this.$store.state.analisesrisco[this.$route.query.index].local.estado
                  this.cidade = this.$store.state.analisesrisco[this.$route.query.index].local.cidade
                  this.processoSelecionado = this.$store.state.analisesrisco[this.$route.query.index].processo
                  this.localidadePoloSelecionada = this.$store.state.analisesrisco[this.$route.query.index].localidadePolo
                  this.checkedEquipamentosColetivos = this.$store.state.analisesrisco[this.$route.query.index].equipamentosColetivos
                  this.checkedEquipamentosIndividuais = this.$store.state.analisesrisco[this.$route.query.index].equipamentosIndividuais
                  this.checkedRiscosIdentificados = this.$store.state.analisesrisco[this.$route.query.index].riscosIdentificados
                  this.tarefaSelecionada = this.$store.state.analisesrisco[this.$route.query.index].tarefa
                  this.analiserisco2 = ''
                  this.nomeMembro = ''
                  this.matriculaMembro = ''
                  this.adicionarMembros()
                  this.membro = ''
                  this.riscoidentificado = ''
                  this.equipamentoIndividual = ''
                  this.errorClass = 'has-success'
                  this.mensagemEnvio = 'Enviado com sucesso'
                }, (response) => {
                  console.log('erro: ', response)
                  this.errorClass = 'has-warning'
                  this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
                })
              }, (response) => {
                console.log('erro: ', response)
                this.errorClass = 'has-warning'
                this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
              })
            })
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
        }
      },
      getFuncionarios () {
        this.$http.get(this.$store.state.urlAPI + 'dados/funcionarios').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCIONARIOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.error2Class = 'alert-warning'
          this.erro = true
        })
      },
      getProcessos () {
        this.$http.get(this.$store.state.urlAPI + 'dados/processos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_PROCESSOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.error2Class = 'alert-warning'
          this.erro = true
        })
      },
      getRiscosIdentificados () {
        this.$http.get(this.$store.state.urlAPI + 'dados/riscosidentificados').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_RISCOSIDENTIFICADOS', data)
          })
          this.checkedRiscosIdentificados = this.$store.state.analisesrisco[this.$route.query.index].riscosIdentificados
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getEquipamentosIndividuais () {
        this.$http.get(this.$store.state.urlAPI + 'dados/equipamentosindividuais').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_EQUIPAMENTOSINDIVIDUAIS', data)
          })
          this.checkedEquipamentosIndividuais = this.$store.state.analisesrisco[this.$route.query.index].equipamentosIndividuais
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getEquipamentosColetivos () {
        this.$http.get(this.$store.state.urlAPI + 'dados/equipamentoscoletivos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_EQUIPAMENTOSCOLETIVOS', data)
          })
          this.checkedEquipamentosColetivos = this.$store.state.analisesrisco[this.$route.query.index].equipamentosColetivos
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getPerguntasRisco () {
        this.$http.get(this.$store.state.urlAPI + 'dados/perguntasrisco').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_PERGUNTASRISCO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
      },
      getTarefas () {
        this.$http.get(this.$store.state.urlAPI + 'dados/tarefas').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_TAREFAS', data)
          })
          this.tarefaSelecionada = this.$store.state.analisesrisco[this.$route.query.index].tarefa
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
      },
      getLocalidadesPolo () {
        this.$http.get(this.$store.state.urlAPI + 'dados/localidadespolo').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_LOCALIDADESPOLO', data)
          })
          this.localidadePoloSelecionada = this.$store.state.analisesrisco[this.$route.query.index].localidadePolo
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
      },
      desaparecer () {
        this.erro = false
      },
      reverseData (dataIn) {
        return dataIn.split('/').reverse().join('-')
      },
      procurarEndereco (pol) {
        for (var endereco in this.dados.address_components) {
          for (var politica in this.dados.address_components[endereco].types) {
            if (this.dados.address_components[endereco].types[politica] === pol) {
              return this.dados.address_components[endereco].long_name
            }
          }
        }
        return ''
      },
      carregarEnderecos () {
        if (this.vm.location !== {}) {
          this.endereco = this.procurarEndereco('route') + ' - ' + this.procurarEndereco('sublocality')
          this.cidade = this.procurarEndereco('administrative_area_level_2')
          this.estado = this.procurarEndereco('administrative_area_level_1')
          var cep = this.procurarEndereco('postal_code').split('-')
          this.cep = Number(cep[0] + cep[1])
          this.posicaoGeografica = JSON.stringify(this.vm.location.geometry.location)
        } else {
          this.endereco = this.vm.searchPlace
        }
      },
      adicionarMembro () {
        this.membros.push({'nome': this.nomeMembro, 'matricula': this.matriculaMembro})
        this.nomeMembro = ''
        this.matriculaMembro = ''
      },
      removerMembro (index) {
        this.membros.splice(index, 1)
      },
      verificarFuncionarios (dataAnalise) {
        this.membros = this.membrosCopia
        var novo = true
        for (this.possivelFuncionario in this.membros) {
          for (this.funcionario in this.funcionarios) {
            if (this.membros[this.possivelFuncionario].matricula === this.funcionarios[this.funcionario].matricula) {
              novo = false
            }
          }
          if (novo === true) {
            this.novosFuncionarios.push(this.membros[this.possivelFuncionario])
            this.novosFuncionariosCopia.push(this.membros[this.possivelFuncionario])
            console.log('adicionou1')
          } else {
            this.membros2.push(this.membros[this.possivelFuncionario])
            console.log('adicionou2')
          }
          novo = true
        }
        this.membros = this.membros2
        if (this.novosFuncionarios.length !== 0) {
          console.log('executou2')
          this.index1 = 0
          for (this.funcionario in this.novosFuncionariosCopia) {
            console.log('executou3')
            this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
              'Matricula': this.novosFuncionarios[this.funcionario].matricula,
              'Nome': this.novosFuncionarios[this.funcionario].nome,
              'DataNascimento': '0000-00-00',
              'Sexo': '',
              'EstadoCivil': '',
              'InicioFuncao': '',
              'GrauInstrucao': '',
              'EstadoInstrucao': '',
              'InicioRefeicao': '',
              'FinalRefeicao': '',
              'TurnoTrabalho': '',
              'Nacionalidade': '',
              'TB_Local_idTB_Local': 'NULL',
              'TB_Funcao_idTB_Funcao': 'NULL',
              'TB_LocalidadePolo_idTB_LocalidadePolo': 'NULL'
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataFuncionario) => {
                this.$store.commit('ADD_FUNCIONARIO', {
                  'matricula': this.novosFuncionariosCopia[this.index1].matricula,
                  'nome': this.novosFuncionariosCopia[this.index1].nome,
                  'dataNascimento': '',
                  'sexo': '',
                  'estadoCivil': '',
                  'inicioFuncao': '',
                  'grauInstrucao': '',
                  'estadoInstrucao': '',
                  'inicioRefeicao': '',
                  'fimRefeicao': '',
                  'turnoTrabalho': '',
                  'nacionalidade': '',
                  'local': {
                    'id': '',
                    'endereco': '',
                    'cep': '',
                    'posicaoGeografica': '',
                    'estado': '',
                    'cidade': ''
                  },
                  'funcao': {'id': '', 'nome': ''},
                  'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                })
                console.log('valor ' + this.index1)
                this.$http.post(this.$store.state.urlAPI + 'dados/membrosanaliserisco/' + dataAnalise.id + '/' + this.novosFuncionariosCopia[this.index1].matricula, {
                }).then((response) => {
                  console.log('sucess ', response.body)
                  this.$store.commit('ADD_MEMBROSANALISERISCO', {
                    'index': this.analiserisco,
                    'membro': this.novosFuncionariosCopia[this.index2]
                  })
                  this.index2++
                }, (response) => {
                  console.log('erro: ', response)
                  this.mensagemErro = 'Falha na rede. Verifique sua conexão'
                  this.error2Class = 'alert-warning'
                  this.erro = true
                })
                this.index1++
              })
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }
        }
      },
      autoResponsavel () {
        let index = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaResponsavel)
        if (index !== -1) {
          this.nomeResponsavel = this.funcionarios[index].nome
        }
      },
      autoMembro () {
        let index = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaMembro)
        if (index !== -1) {
          this.nomeMembro = this.funcionarios[index].nome
        }
      },
      adicionarMembros () {
        var membro
        for (membro in this.$store.state.analisesrisco[this.$route.query.index].membros) {
          this.membros.push({'nome': this.$store.state.analisesrisco[this.$route.query.index].membros[membro].nome, 'matricula': this.$store.state.analisesrisco[this.$route.query.index].membros[membro].matricula})
        }
      },
      adicionarRespostas () {
        var pergunta = 0
        for (pergunta in this.perguntasRisco) {
          this.respostas.push(this.$store.state.analisesrisco[this.$route.query.index].perguntasRespondidas[pergunta].resposta)
        }
      }
    }
  }
</script>
<style></style>
