<template>
  <div>
    <section class="content">
      <div class="alert alert-dismissible" :class="[errorClass2]" role="alert" v-if="erro">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="desaparecer"><span aria-hidden="true">&times;</span></button>
			  <strong>Atenção!</strong> {{mensagemErro}}
			</div>
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Editar Usuario</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/usuarios" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <form @submit.prevent="alterar" autocomplete="off">
                <div class="input-group">
                  <span class="input-group-addon" id="login">Loguin</span>
                  <input type="email" class="form-control" id="login" placeholder="E-mail da endicon" v-model="login" required>
                </div>
                <br/>
                <p class="text-info">se desejar trocar a senha, preencha os campos de dela</p>
                <div class="input-group">
                  <span class="input-group-addon">Senha</span>
                  <input type="password" class="form-control"  v-model="senha">
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="login">Digite novamente a senha</span>
                  <input type="password" class="form-control" v-model="senhaDuplicada">
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Permisssao</label>
                  <label class="radio-inline">
                    <input type="radio" name="permissao" v-model="permissao" value="admin"> Administrador
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="permissao" v-model="permissao" value="normal"> Regular
                  </label>
                </div>
                <br/>
                <div class="input-group" :class="[errorClass]">
                  <input type="submit" id="enviar" class="btn btn-primary">
                  <span class="help-block">{{mensagemEnvio}}</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  export default {
    name: 'novousuario',
    data () {
      return {
        login: '',
        loguinCopia: '',
        senha: '',
        senhaDuplicada: '',
        ultimoAcesso: '',
        ultimoAcessoCopia: '',
        permissao: '',
        permissaoCopia: '',
        errorClass: '',
        mensagemEnvio: '',
        mensagemErro: '',
        errorClass2: '',
        erro: false
      }
    },
    computed: {
      usuario () {
        return this.$store.state.usuarios[this.$route.query.index]
      }
    },
    watch: {
      usuario () {
        this.login = this.$store.state.usuarios[this.$route.query.index].login
        this.permissao = this.$store.state.usuarios[this.$route.query.index].permissao
      }
    },
    mounted () {
      this.login = this.$store.state.usuarios[this.$route.query.index].login
      this.permissao = this.$store.state.usuarios[this.$route.query.index].permissao
    },
    methods: {
      alterar () {
        if (this.checarSenha() === true) {
          this.ultimoAcesso = new Date().toLocaleDateString()
          this.ultimoAcesso = this.reverseData(this.ultimoAcesso)
          this.loginCopia = this.login
          this.permissaoCopia = this.permissao
          this.ultimoAcessoCopia = this.ultimoAcesso
          if (this.senhaDuplicada !== '') {
            this.$http.put(this.$store.state.urlAPI + 'dados/usuarios', {
              'Login': this.login,
              'Senha': this.senhaDuplicada,
              'UltimoAcesso': this.ultimoAcesso,
              'Permissao': this.permissao
            }).then((response) => {
              console.log('sucess ', response.body)
              this.$store.commit('ATUALIZAR_USUARIO', {
                'index': this.$route.query.index,
                'login': this.loginCopia,
                'ultimoAcesso': this.ultimoAcessoCopia,
                'permissao': this.permissaoCopia
              })
              this.nome = ''
              this.errorClass = 'has-success'
              this.mensagemEnvio = 'Enviado com sucesso'
              this.login = this.$store.state.usuarios[this.$route.query.index].login
              this.permissao = this.$store.state.usuarios[this.$route.query.index].permissao
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          } else {
            this.$http.put(this.$store.state.urlAPI + 'dados/usuarios', {
              'Login': this.login,
              'Senha': null,
              'UltimoAcesso': this.ultimoAcesso,
              'Permissao': this.permissao
            }).then((response) => {
              console.log('sucess ', response.body)
              this.$store.commit('ADD_USUARIO', {
                'login': this.loginCopia,
                'ultimoAcesso': this.ultimoAcessoCopia,
                'permissao': this.permissaoCopia
              })
              this.nome = ''
              this.errorClass = 'has-success'
              this.mensagemEnvio = 'Enviado com sucesso'
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }
        } else {
          this.mensagemErro = 'Senhas precisam ser iguais'
          this.errorClass2 = 'alert-danger'
          this.erro = true
        }
      },
      reverseData (dataIn) {
        return dataIn.split('/').reverse().join('-')
      },
      checarSenha () {
        if (this.senha === this.senhaDuplicada) {
          return true
        } else {
          return false
        }
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style></style>
