<template>
  <!-- Main content -->
  <section class='content'>
    <!-- Info boxes -->
    <div class='row'>
      <div class='col-md-3 col-sm-6 col-xs-12'>
        <div class='info-box'>
          <span class='info-box-icon bg-aqua'><i class='fa fa-balance-scale'></i></span>

          <div class='info-box-content'>
            <span class='info-box-text'>Média de Frequência</span>
            <span class='info-box-text'>2016</span>
            <span class='info-box-number'>13.20</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class='col-md-3 col-sm-6 col-xs-12'>
        <div class='info-box'>
          <span class='info-box-icon bg-aqua'><i class='fa fa-balance-scale'></i></span>

          <div class='info-box-content'>
            <span class='info-box-text'>Média de Gravidade</span>
            <span class='info-box-text'>2016</span>
            <span class='info-box-number'>360.3</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class='col-md-3 col-sm-6 col-xs-12'>
        <div class='info-box'>
          <span class='info-box-icon bg-aqua'><i class='fa fa-balance-scale'></i></span>

          <div class='info-box-content'>
            <span class='info-box-text'>DP de Frequência</span>
            <span class='info-box-text'>2016</span>
            <span class='info-box-number'>3.46</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class='col-md-3 col-sm-6 col-xs-12'>
        <div class='info-box'>
          <span class='info-box-icon bg-aqua'><i class='fa fa-balance-scale'></i></span>

          <div class='info-box-content'>
            <span class='info-box-text'>DP de Gravidade</span>
            <span class='info-box-text'>2016</span>
            <span class='info-box-number'>820.6</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class='col-md-3 col-sm-6 col-xs-12'>
        <div class='info-box'>
          <span class='info-box-icon bg-red'><i class='fa fa-warning'></i></span>

          <div class='info-box-content'>
            <span class='info-box-text'>Acidentes</span>
            <span class='info-box-text'>01/2017</span>
            <span class='info-box-number'>0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class='clearfix visible-sm-block'></div>

      <div class='col-md-3 col-sm-6 col-xs-12'>
        <div class='info-box'>
          <span class='info-box-icon bg-yellow'><i class='fa fa-bell'></i></span>

          <div class='info-box-content'>
            <span class='info-box-text'>Quase Acidentes</span>
            <span class='info-box-text'>01/2017</span>
            <span class='info-box-number'>0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <div class='col-md-3 col-sm-6 col-xs-12'>
        <div class='info-box'>
          <span class='info-box-icon bg-green'><i class='fa fa-flag-o'></i></span>

          <div class='info-box-content'>
            <span class='info-box-text'>Desvios</span>
            <span class='info-box-text'>01/2017</span>
            <span class='info-box-number'>0</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

    <div class='col-xs-12'>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
          <div class="box-body">
            <div class="col-sm-6 col-xs-12">
              <p class="text-center">
                <strong>Número de acidentes do ano de 2016</strong>
              </p>
              <canvas id="trafficBar" ></canvas>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="text-center">
                <strong>Proporção de gravidades 2016</strong>
              </p>
              <canvas id="languagePie2" style="height:200px"></canvas>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="text-center">
                <strong>Taxa de Frequência 2016</strong>
              </p>
              <canvas id="trafficBar3" ></canvas>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="text-center">
                <strong>Taxa de Gravidade 2016</strong>
              </p>
              <canvas id="trafficBar4" ></canvas>
            </div>
            <hr class="visible-xs">
            <div class="col-sm-6 col-xs-12">
              <p class="text-center">
                <strong>Número de acidentes do ano de 2017</strong>
              </p>
              <canvas id="trafficBar2" ></canvas>
            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="text-center">
                <strong>Proporção de gravidades 2017</strong>
              </p>
              <canvas id="languagePie" style="height:200px"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class='col-xs-12'>
      <div style="width: 100%; height: 300px">
        <google-map v-for="(m,index) in markers" :center="center" :zoom="3">
          <map-marker :position="m" :opacity="1" v-model="m[index]">
          </map-marker>
        </google-map>
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</template>

<script>
import Chart from 'chart.js'
import * as VueGoogleMaps from 'vue2-google-maps'
export default {
  name: 'principal',
  data: function () {
    return {
      center: { lat: -11.593536, lng: -50.608716 }
    }
  },
  computed: {
    comunicadosInternos () {
      return this.$store.state.comunicadosInternos
    },
    leves () {
      let cont = 0
      for (let comunicado in this.$store.state.comunicadosInternos) {
        if (this.$store.state.comunicadosInternos[comunicado].gravidade === 'Leve') {
          cont++
        }
      }
      return cont
    },
    moderadas () {
      let cont = 0
      for (let comunicado in this.$store.state.comunicadosInternos) {
        if (this.$store.state.comunicadosInternos[comunicado].gravidade === 'Moderada') {
          cont++
        }
      }
      return cont
    },
    graves () {
      let cont = 0
      for (let comunicado in this.$store.state.comunicadosInternos) {
        if (this.$store.state.comunicadosInternos[comunicado].gravidade === 'Grave') {
          cont++
        }
      }
      return cont
    },
    gravissimas () {
      let cont = 0
      for (let comunicado in this.$store.state.comunicadosInternos) {
        if (this.$store.state.comunicadosInternos[comunicado].gravidade === 'Gravíssima') {
          cont++
        }
      }
      return cont
    },
    markers () {
      let markers = []
      for (let comunicado in this.$store.state.comunicadosInternos) {
        markers.push({lat: JSON.parse(this.$store.state.comunicadosInternos[comunicado].local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.comunicadosInternos[comunicado].local.posicaoGeografica).lng})
      }
      return markers
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      var ctx3 = document.getElementById('trafficBar3').getContext('2d')
      var config3 = {
        type: 'line',
        data: {
          labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
          datasets: [{
            label: 'Taxa de Frequência',
            fill: false,
            borderColor: '#284184',
            pointBackgroundColor: '#284184',
            backgroundColor: 'rgba(0, 0, 0, 0)',
            data: [15.96, 13.05, 17.06, 15.94, 10.85, 8.87, 18.50, 15.89, 12.53, 11.60, 6.06, 13.04]
          }]
        },
        options: {
          responsive: true,
          legend: {
            position: 'bottom',
            display: true
          },
          tooltips: {
            mode: 'label',
            xPadding: 10,
            yPadding: 10,
            bodySpacing: 10
          }
        }
      }
      new Chart(ctx3, config3) // eslint-disable-line no-new

      var ctx4 = document.getElementById('trafficBar4').getContext('2d')
      var config4 = {
        type: 'line',
        data: {
          labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
          datasets: [{
            label: 'Taxa de Gravidade',
            borderColor: '#4BC0C0',
            pointBackgroundColor: '#4BC0C0',
            backgroundColor: 'rgba(0, 0, 0, 0)',
            data: [147.10, 163.18, 164.94, 145.76, 49.91, 59.88, 85.99, 93.22, 87.74, 35.85, 23.23, 3060.26]
          }]
        },
        options: {
          responsive: true,
          legend: {
            position: 'bottom',
            display: true
          },
          tooltips: {
            mode: 'label',
            xPadding: 10,
            yPadding: 10,
            bodySpacing: 10
          }
        }
      }
      new Chart(ctx4, config4) // eslint-disable-line no-new

      var ctx = document.getElementById('trafficBar').getContext('2d')
      var config = {
        type: 'bar',
        data: {
          labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
          datasets: [{
            label: 'Acidentes',
            borderColor: ['#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184'],
            backgroundColor: ['rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)'],
            borderWidth: 1,
            data: [14, 12, 15, 14, 10, 8, 17, 15, 11, 11, 6, 13]
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          legend: {
            position: 'bottom',
            display: true
          },
          tooltips: {
            mode: 'label',
            xPadding: 10,
            yPadding: 10,
            bodySpacing: 10
          },
          scales: {
            beginAtZero: true
          }
        }
      }

      new Chart(ctx, config) // eslint-disable-line no-new

      var ctx2 = document.getElementById('trafficBar2').getContext('2d')
      var config2 = {
        type: 'bar',
        data: {
          labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
          datasets: [{
            label: 'Acidentes',
            borderColor: ['#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184', '#284184'],
            backgroundColor: ['rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)', 'rgba(0, 0, 0, 0)'],
            borderWidth: 1,
            data: [this.comunicadosInternos.length, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          legend: {
            position: 'bottom',
            display: true
          },
          tooltips: {
            mode: 'label',
            xPadding: 10,
            yPadding: 10,
            bodySpacing: 10
          }
        }
      }

      new Chart(ctx2, config2) // eslint-disable-line no-new

      var pieChartCanvas = document.getElementById('languagePie').getContext('2d')
      var pieConfig = {
        type: 'pie',
        data: {
          labels: ['Gravíssima', 'Grave', 'Moderada', 'Leve'],
          datasets: [{
            data: [this.gravissimas, this.graves, this.moderadas, this.leves],
            backgroundColor: ['#cc3359', '#dfaf20', '#67a6e4', '#60bf40'],
            hoverBackgroundColor: ['#cc3359', '#dfaf20', '#67a6e4', '#60bf40']
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          legend: {
            position: 'bottom',
            display: true
          }
        }
      }

      new Chart(pieChartCanvas, pieConfig) // eslint-disable-line no-new

      var pieChartCanvas2 = document.getElementById('languagePie2').getContext('2d')
      var pieConfig2 = {
        type: 'pie',
        data: {
          labels: ['Gravíssima', 'Grave', 'Moderada', 'Leve'],
          datasets: [{
            data: [0, 16, 35, 104],
            backgroundColor: ['#cc3359', '#dfaf20', '#67a6e4', '#60bf40'],
            hoverBackgroundColor: ['#cc3359', '#dfaf20', '#67a6e4', '#60bf40']
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          legend: {
            position: 'bottom',
            display: true
          }
        }
      }

      new Chart(pieChartCanvas2, pieConfig2) // eslint-disable-line no-new
    })
  },
  components: {
    'googleMap': VueGoogleMaps.Map,
    'MapMarker': VueGoogleMaps.Marker
  },
  methods: {
    getComunicados () {
      this.$http.get(this.$store.state.urlAPI + 'formularios/comunicados_internos').then((response) => {
        console.log('sucess')
        response.json().then((data) => {
          this.$store.commit('ATUALIZAR_COMUNICADOSINTERNOS', data)
        })
      }, (response) => {
        console.log('erro: ', response)
        this.mensagemErro = 'Falha na rede. Verifique sua conexão'
        this.errorClass = 'alert-warning'
        this.erro = true
      })
    }
  }
}
</script>
<style>
.info-box {
  cursor: pointer;
}
.info-box-content {
  text-align: center;
  vertical-align: middle;
  display: inherit;
}
.fullCanvas {
  width: 100%;
}
</style>
