<template>
  <div>
    <section class="content">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Informação da Localidade</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/analisesrisco" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <div class="input-group">
                <span class="input-group-addon">Data:</span>
                  <input type="date" class="form-control" placeholder="31/12/1994" v-model="desvio.dataOcorrido" readonly>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon">Hora:</span>
                  <input type="time" class="form-control" v-model="desvio.horaOcorrido" readonly>
              </div>
              <br/>
              <div class="form-group">
                <label class="control-label" for="localidadePolo">Local de trabalho</label>
                <select class="form-control" id="localidadePolo" readonly>
                  <option selected>{{desvio.localidadePolo.nome}}</option>
                </select>
              </div>
              <br/>
              <fieldset>
                <legend>Local</legend>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Endereço</span>
                  <input type="text" class="form-control" v-model="desvio.local.endereco" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="cep">CEP</span>
                  <input type="number" class="form-control" placeholder="ex: 66115080" v-model="desvio.local.cep" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="estado">Estado</span>
                  <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="desvio.local.estado" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="cidade">Cidade</span>
                  <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="desvio.local.cidade" readonly>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Responsável</legend>
                <div class="input-group">
                  <span class="input-group-addon" id="nome">Nome</span>
                  <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="desvio.funcionario.nome" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" >Matrícula</span>
                  <input type="text" class="form-control" v-model="desvio.funcionario.matricula" placeholder="ex: 220302" readonly>
                </div>
                <br/>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Informações do desvio</legend>
                <div class="form-group">
                  <label class="control-label">Registro</label>
                  <textarea class="form-control" rows="3" v-model="desvio.registro" readonly></textarea>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Tipo</label>
                  <label class="radio-inline">
                    <input type="radio" name="tipo" v-model.number="desvio.tipo" value="Boas práticas" readonly> Boas práticas
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="tipo" v-model.number="desvio.tipo" value="Irregularidade" readonly> Irregularidade
                  </label>
                </div>
                <br/>
              </fieldset>
              <div style="width: 100%; height: 300px">
                <google-map :center="center" :zoom="17">
                  <map-marker :position="marker" :opacity="marker.opacity" v-model="marker">
                  </map-marker>
                </google-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import * as VueGoogleMaps from 'vue2-google-maps'
  export default {
    name: 'desvio',
    data () {
      return {
        marker: { lat: JSON.parse(this.$store.state.desvios[this.$route.query.index].local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.desvios[this.$route.query.index].local.posicaoGeografica).lng },
        center: { lat: JSON.parse(this.$store.state.desvios[this.$route.query.index].local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.desvios[this.$route.query.index].local.posicaoGeografica).lng }
      }
    },
    computed: {
      desvio () {
        return this.$store.state.desvios[this.$route.query.index]
      }
    },
    components: {
      'googleMap': VueGoogleMaps.Map,
      'MapMarker': VueGoogleMaps.Marker
    }
  }
</script>
<style>

</style>
