<template>
  <div>
    <section class="content">
      <div class="alert alert-dismissible" :class="[error2Class]" role="alert" v-if="erro">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="desaparecer"><span aria-hidden="true">&times;</span></button>
        <strong>Atenção!</strong> {{mensagemErro}}
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Novo Relato Interno</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/relatosinternos" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <form @submit.prevent="enviar" autocomplete="off">
                <fieldset>
                  <legend>Dados do acidentado</legend>
                  <div class="input-group">
                    <span class="input-group-addon" >Matrícula</span>
                    <input type="text" class="form-control" v-model="matriculaResponsavel" placeholder="ex: 220302" list="matriculas" @change="autoResponsavel()">
                    <datalist id="matriculas">
                      <option v-for="funcionario in funcionarios" :value="funcionario.matricula">
                    </datalist>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="nome">Nome</span>
                    <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="nomeResponsavel">
                  </div>
                  <br/>
                  <fieldset>
                    <legend>Local</legend>
                    <div class="input-group">
                      <span class="input-group-addon" id="endereco">Endereço</span>
                      <input type="text" class="form-control" v-model=vm.searchPlace v-gmaps-searchbox:location=vm placeholder="ex: Passagem santa cruz">
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="cep">CEP</span>
                      <input type="number" class="form-control" placeholder="ex: 66115080" v-model="cep">
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="estado">Estado</span>
                      <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="estado">
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="cidade">Cidade</span>
                      <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="cidade">
                    </div>
                  </fieldset>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Cargo:</label>
                    <select v-model="funcaoSelecionada" class="form-control">
                      <option v-for="funcao in funcoes" :value="funcao">{{funcao.nome}}</option>
                    </select>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon">Horario do inicio da jornada de trabalho</span>
                      <input type="time" class="form-control" v-model="inicioTrabalho">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Equipe</span>
                    <input type="text" class="form-control" v-model="equipe">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Placa da viatura</span>
                    <input type="text" class="form-control" v-model="placaVeiculo">
                  </div>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Dados do parceiro</legend>
                  <div class="input-group">
                    <span class="input-group-addon" >Matrícula</span>
                    <input type="text" class="form-control" v-model="matriculaParceiro" placeholder="ex: 220302" list="matriculas" @change="autoParceiro()">
                    <datalist id="matriculas">
                      <option v-for="funcionario in funcionarios" :value="funcionario.matricula">
                    </datalist>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="nome">Nome</span>
                    <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="nomeParceiro">
                  </div>
                  <br/>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Dados do acidente</legend>
                  <div class="form-group">
                    <label class="control-label">Código de registro de acidente:</label>
                    <select v-model="comunicadoSelecionado" class="form-control">
                      <option v-for="comunicado in comunicados" :value="comunicado">{{comunicado.codigo}}</option>
                    </select>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon">Data do acidente</span>
                      <input type="date" class="form-control" placeholder="31/12/1994" v-model="comunicadoSelecionado.dataOcorrido" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon">Hora do acidente</span>
                      <input type="time" class="form-control" v-model="comunicadoSelecionado.horaOcorrido" readonly>
                  </div>
                  <br/>
                  <fieldset>
                    <legend>Local do acidente</legend>
                    <div class="input-group">
                      <span class="input-group-addon" id="endereco">Endereço</span>
                      <input type="text" class="form-control" v-model="comunicadoSelecionado.local.endereco" readonly>
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="cep">CEP</span>
                      <input type="number" class="form-control" placeholder="ex: 66115080" v-model="comunicadoSelecionado.local.cep" readonly>
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="estado">Estado</span>
                      <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="comunicadoSelecionado.local.estado" readonly>
                    </div>
                    <br/>
                    <div class="input-group">
                      <span class="input-group-addon" id="cidade">Cidade</span>
                      <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="comunicadoSelecionado.local.cidade" readonly>
                    </div>
                  </fieldset>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon">Data do atendimento médico</span>
                      <input type="date" class="form-control" placeholder="31/12/1994" v-model="dataAtendimento">
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon">Hora do atendimento médico</span>
                      <input type="time" class="form-control" v-model="horaAtendimento">
                  </div>
                  <br/>
                  <div class="form-group">
                    <label class="control-label">Apresentou cópia do atestado?</label>
                    <label class="radio-inline">
                      <input type="radio" name="copiaAtestado" v-model.number="copiaAtestado" value="1"> Sim
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="CopiaAtestado" v-model.number="copiaAtestado" value="0"> Não
                    </label>
                  </div>
                  <br/>
                </fieldset>
                <fieldset>
                  <legend>Informações do acidente</legend>
                  <div class="form-group" v-for="(pergunta,index) in perguntasrelato">
                    <label class="control-label">pergunta.nome</label>
                    <textarea class="form-control" rows="3" v-model="respostas[index]"></textarea>
                  </div>
                  <br/>
                </fieldset>
                <br/>
                <div class="input-group" :class="[errorClass]">
                  <input type="submit" id="enviar" class="btn btn-primary">
                  <span class="help-block">{{mensagemEnvio}}</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  export default {
    name: 'novorelatointerno',
    data () {
      return {
        dataAtendimento: '',
        dataAtendimentoCopia: '',
        horaAtendimento: '',
        horaAtendimentoCopia: '',
        inicioTrabalho: '',
        inicioTrabalhoCopia: '',
        comunicadoSelecionado: {'codigo': '', 'local': {'endereco': '', 'cep': '', 'cidade': '', 'estado': ''}, 'dataOcorrido': '', 'horaOcorrido': ''},
        comunicadoSelecionadoCopia: '',
        nomeParceiro: '',
        nomeParceiroCopia: '',
        nomeResponsavel: '',
        nomeResponsavelCopia: '',
        dataCriacao: '',
        dataCriacaoCopia: '',
        horaCriacao: '',
        horaCriacaoCopia: '',
        copiaAtestado: '',
        copiaAtestadoCopia: '',
        endereco: '',
        enderecoCopia: '',
        cep: '',
        cepCopia: '',
        posicaoGeografica: '',
        posicaoGeograficaCopia: '',
        estado: '',
        estadoCopia: '',
        cidade: '',
        cidadeCopia: '',
        equipe: '',
        equipeCopia: '',
        placaVeiculo: '',
        placaVeiculoCopia: '',
        funcaoSelecionada: '',
        funcaoSelecionadaCopia: '',
        vm: {
          searchPlace: '',
          location: {}
        },
        errorClass: '',
        error2Class: '',
        mensagemEnvio: '',
        mensagemErro: '',
        erro: ''
      }
    },
    computed: {
      dados () {
        return this.vm.location
      },
      preenchido () {
        return this.vm.searchPlace
      },
      funcionarios () {
        return this.$store.state.funcionarios
      },
      funcoes () {
        return this.$store.state.funcoes
      },
      comunicados () {
        return this.$store.state.comunicadosInternos
      }
    },
    mounted () {
      this.getFuncionarios()
      this.getFuncoes()
      this.getComunicadosInternos()
    },
    watch: {
      dados () {
        this.carregarEnderecos()
      },
      preenchido () {
        if (this.preenchido === '') {
          this.cep = ''
          this.estado = ''
          this.cidade = ''
          this.posicaoGeografica = ''
        }
      }
    },
    methods: {
      enviar () {
        this.dataCriacao = new Date().toLocaleDateString()
        this.horaCriacao = new Date().toLocaleTimeString()
        this.dataCriacao = this.reverseData(this.dataCriacao)
        this.dataCriacaoCopia = this.dataCriacao
        this.horaCriacaoCopia = this.horaCriacao
        this.enderecoCopia = this.endereco
        this.cepCopia = this.cep
        this.posicaoGeograficaCopia = this.posicaoGeografica
        this.estadoCopia = this.estado
        this.cidadeCopia = this.cidade
        this.nomeResponsavelCopia = this.nomeResponsavel
        this.matriculaResponsavelCopia = this.matriculaResponsavel
        this.nomeParceiroCopia = this.nomeParceiro
        this.matriculaParceiroCopia = this.matriculaParceiro
        this.copiaAtestadoCopia = this.copiaAtestado
        this.equipeCopia = this.equipe
        this.placaVeiculoCopia = this.placaVeiculo
        this.funcaoSelecionadaCopia = this.funcaoSelecionada
        this.comunicadoSelecionadoCopia = this.comunicadoSelecionado
        this.inicioTrabalhoCopia = this.inicioTrabalho
        let responsavel = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaResponsavel)
        let parceiro = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaParceiro)
        if (responsavel !== -1) {
          this.$http.put(this.$store.state.urlAPI + 'dados/locais/' + this.funcionarios[parceiro].local.id, {
            'Endereco': this.endereco,
            'CEP': this.cep,
            'PosicaoGeografica': this.posicaoGeografica,
            'Estado': this.estado,
            'Cidade': this.cidade
          }).then((response) => {
            console.log('entrou2')
            console.log('sucess ', response.body)
            this.$http.put(this.$store.state.urlAPI + 'dados/funcionarios/' + this.funcionarios[parceiro].matricula, {
              'Nome': this.funcionarios[parceiro].nome,
              'DataNascimento': this.funcionarios[parceiro].dataNascimento,
              'Sexo': this.funcionarios[parceiro].sexo,
              'EstadoCivil': this.funcionarios[parceiro].estadoCivil,
              'InicioFuncao': this.funcionarios[parceiro].inicioFuncao,
              'GrauInstrucao': this.funcionarios[parceiro].grauInstrucao,
              'EstadoInstrucao': this.funcionarios[parceiro].estadoInstrucao,
              'InicioRefeicao': this.funcionarios[parceiro].inicioRefeicao,
              'FinalRefeicao': this.funcionarios[parceiro].fimRefeicao,
              'TurnoTrabalho': this.funcionarios[parceiro].turnoTrabalho,
              'Nacionalidade': this.funcionarios[parceiro].nacionalidade,
              'InicioTrabalho': this.inicioTrabalho,
              'TB_Local_idTB_Local': this.funcionarios[parceiro].local.id,
              'TB_Funcao_idTB_Funcao': this.funcaoSelecionada.id,
              'TB_LocalidadePolo_idTB_LocalidadePolo': this.funcionarios[parceiro].localidadePoloSelecionada.id
            }).then((response) => {
              console.log('entrou3')
              console.log('sucess ', response.body)
              this.$store.commit('ATUALIZAR_FUNCIONARIO', {
                'index': parceiro,
                'nome': this.funcionarios[parceiro].nome,
                'dataNascimento': this.funcionarios[parceiro].dataNascimento,
                'sexo': this.funcionarios[parceiro].sexo,
                'estadoCivil': this.funcionarios[parceiro].estadoCivil,
                'inicioFuncao': this.funcionarios[parceiro].inicioFuncao,
                'grauInstrucao': this.funcionarios[parceiro].grauInstrucao,
                'estadoInstrucao': this.funcionarios[parceiro].estadoInstrucao,
                'inicioRefeicao': this.funcionarios[parceiro].inicioRefeicao,
                'fimRefeicao': this.funcionarios[parceiro].fimRefeicao,
                'turnoTrabalho': this.funcionarios[parceiro].turnoTrabalho,
                'inicioTrabalho': this.inicioTrabalhoCopia,
                'nacionalidade': this.funcionarios[parceiro].nacionalidade,
                'local': {
                  'id': this.funcionarios[parceiro].local.id,
                  'endereco': this.enderecoCopia,
                  'cep': this.cepCopia,
                  'posicaoGeografica': this.posicaoGeograficaCopia,
                  'estado': this.estadoCopia,
                  'cidade': this.cidadeCopia
                },
                'funcao': this.funcaoSelecionadaCopia,
                'localidadePolo': this.funcionarios[parceiro].localidadePoloCopia
              })
              this.errorClass = 'has-success'
              this.mensagemEnvio = 'Enviado com sucesso'
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }, (response) => {
            console.log('erro: ', response)
            this.errorClass = 'has-warning'
            this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
          })
          this.matriculaResponsavel = this.matriculaResponsavelCopia
          if (parceiro !== -1) {
            this.$http.post(this.$store.state.urlAPI + 'formularios/relatos_internos/novo_relato', {
              'DataCriacao': this.dataCriacao,
              'HoraCriacao': this.horaCriacao,
              'HorarioInicioTrabalho': this.inicioTrabalho,
              'DataAtendimentoMedico': this.dataAtendimento,
              'HoraAtendimentoMedico': this.horaAtendimento,
              'ApresentouCopiaAtestado': this.copiaAtestado,
              'Equipe': this.equipe,
              'PlacaVeiculo': this.placaVeiculo,
              'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': this.comunicadoSelecionado.id,
              'TB_Funcionario_Matricula': this.matriculaResponsavel,
              'TB_Funcionario_Matricula1': this.matriculaParceiro
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataRelato) => {
                this.$store.commit('ADD_RELATO', {
                  'id': dataRelato.id,
                  'dataCriacao': this.dataCriacaoCopia,
                  'horaCriacao': this.horaCriacaoCopia,
                  'horarioInicioTrabalho': this.inicioTrabalhoCopia,
                  'dataAtendimentoMedico': this.dataAtendimentoCopia,
                  'horaAtendimentoMedico': this.horaAtendimentoCopia,
                  'apresentouCopiaAtestado': this.copiaAtestadoCopia,
                  'equipe': this.equipeCopia,
                  'placaVeiculo': this.placaVeiculoCopia,
                  'comunicado': this.comunicadoSelecionadoCopia.id,
                  'funcionario': this.matriculaResponsavelCopia,
                  'parceiro': this.matriculaParceiroCopia
                })
              })
              this.errorClass = 'has-success'
              this.mensagemEnvio = 'Enviado com sucesso'
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          } else {
            this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
              'Matricula': this.matriculaParceiro,
              'Nome': this.nomeParceiro,
              'DataNascimento': '0000-00-00',
              'Sexo': '',
              'EstadoCivil': '',
              'InicioFuncao': '',
              'GrauInstrucao': '',
              'EstadoInstrucao': '',
              'InicioRefeicao': '',
              'FinalRefeicao': '',
              'TurnoTrabalho': '',
              'Nacionalidade': '',
              'TB_Local_idTB_Local': 'NULL',
              'TB_Funcao_idTB_Funcao': 'NULL',
              'TB_LocalidadePolo_idTB_LocalidadePolo': 'NULL'
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataFuncionario) => {
                this.matriculaParceiro = this.matriculaParceiroCopia
                this.nomeParceiro = this.nomeParceiroCopia
                this.$store.commit('ADD_FUNCIONARIO', {
                  'matricula': this.matriculaParceiroCopia,
                  'nome': this.nomeParceiroCopia,
                  'dataNascimento': '',
                  'sexo': '',
                  'estadoCivil': '',
                  'inicioFuncao': '',
                  'grauInstrucao': '',
                  'estadoInstrucao': '',
                  'inicioRefeicao': '',
                  'fimRefeicao': '',
                  'turnoTrabalho': '',
                  'nacionalidade': '',
                  'local': {
                    'id': '',
                    'endereco': '',
                    'cep': '',
                    'posicaoGeografica': '',
                    'estado': '',
                    'cidade': ''
                  },
                  'funcao': {'id': '', 'nome': ''},
                  'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                })
                this.matriculaParceiro = this.matriculaParceiroCopia
                this.$http.post(this.$store.state.urlAPI + 'formularios/relatos_internos/novo_relato', {
                  'DataCriacao': this.dataCriacao,
                  'HoraCriacao': this.horaCriacao,
                  'HorarioInicioTrabalho': this.inicioTrabalho,
                  'DataAtendimentoMedico': this.dataAtendimento,
                  'HoraAtendimentoMedico': this.horaAtendimento,
                  'ApresentouCopiaAtestado': this.copiaAtestado,
                  'Equipe': this.equipe,
                  'PlacaVeiculo': this.placaVeiculo,
                  'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': this.comunicadoSelecionado.id,
                  'TB_Funcionario_Matricula': this.matriculaResponsavel,
                  'TB_Funcionario_Matricula1': this.matriculaParceiro
                }).then((response) => {
                  console.log('sucess ', response.body)
                  response.json().then((dataRelato) => {
                    this.$store.commit('ADD_RELATO', {
                      'id': dataRelato.id,
                      'dataCriacao': this.dataCriacaoCopia,
                      'horaCriacao': this.horaCriacaoCopia,
                      'horarioInicioTrabalho': this.inicioTrabalhoCopia,
                      'dataAtendimentoMedico': this.dataAtendimentoCopia,
                      'horaAtendimentoMedico': this.horaAtendimentoCopia,
                      'apresentouCopiaAtestado': this.copiaAtestadoCopia,
                      'equipe': this.equipeCopia,
                      'placaVeiculo': this.placaVeiculoCopia,
                      'comunicado': this.comunicadoSelecionadoCopia.id,
                      'funcionario': this.matriculaResponsavelCopia,
                      'parceiro': this.matriculaParceiroCopia
                    })
                  })
                  this.errorClass = 'has-success'
                  this.mensagemEnvio = 'Enviado com sucesso'
                }, (response) => {
                  console.log('erro: ', response)
                  this.errorClass = 'has-warning'
                  this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
                })
              })
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }
        } else {
          if (parceiro !== -1) {
            this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
              'Matricula': this.matriculaResponsavel,
              'Nome': this.nomeResponsavel,
              'DataNascimento': '0000-00-00',
              'Sexo': '',
              'EstadoCivil': '',
              'InicioFuncao': '',
              'GrauInstrucao': '',
              'EstadoInstrucao': '',
              'InicioRefeicao': '',
              'FinalRefeicao': '',
              'TurnoTrabalho': '',
              'Nacionalidade': '',
              'TB_Local_idTB_Local': 'NULL',
              'TB_Funcao_idTB_Funcao': 'NULL',
              'TB_LocalidadePolo_idTB_LocalidadePolo': 'NULL'
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataFuncionario) => {
                this.matriculaResponsavel = this.matriculaResponsavelCopia
                this.nomeResponsavel = this.nomeResponsavelCopia
                this.$store.commit('ADD_FUNCIONARIO', {
                  'matricula': this.matriculaResponsavelCopia,
                  'nome': this.nomeResponsavelCopia,
                  'dataNascimento': '',
                  'sexo': '',
                  'estadoCivil': '',
                  'inicioFuncao': '',
                  'grauInstrucao': '',
                  'estadoInstrucao': '',
                  'inicioRefeicao': '',
                  'fimRefeicao': '',
                  'turnoTrabalho': '',
                  'nacionalidade': '',
                  'local': {
                    'id': '',
                    'endereco': '',
                    'cep': '',
                    'posicaoGeografica': '',
                    'estado': '',
                    'cidade': ''
                  },
                  'funcao': {'id': '', 'nome': ''},
                  'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                })
                this.matriculaResponsavel = this.matriculaResponsavelCopia
                this.$http.post(this.$store.state.urlAPI + 'formularios/relatos_internos/novo_relato', {
                  'DataCriacao': this.dataCriacao,
                  'HoraCriacao': this.horaCriacao,
                  'HorarioInicioTrabalho': this.inicioTrabalho,
                  'DataAtendimentoMedico': this.dataAtendimento,
                  'HoraAtendimentoMedico': this.horaAtendimento,
                  'ApresentouCopiaAtestado': this.copiaAtestado,
                  'Equipe': this.equipe,
                  'PlacaVeiculo': this.placaVeiculo,
                  'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': this.comunicadoSelecionado.id,
                  'TB_Funcionario_Matricula': this.matriculaResponsavel,
                  'TB_Funcionario_Matricula1': this.matriculaParceiro
                }).then((response) => {
                  console.log('sucess ', response.body)
                  response.json().then((dataRelato) => {
                    this.$store.commit('ADD_RELATO', {
                      'id': dataRelato.id,
                      'dataCriacao': this.dataCriacaoCopia,
                      'horaCriacao': this.horaCriacaoCopia,
                      'horarioInicioTrabalho': this.inicioTrabalhoCopia,
                      'dataAtendimentoMedico': this.dataAtendimentoCopia,
                      'horaAtendimentoMedico': this.horaAtendimentoCopia,
                      'apresentouCopiaAtestado': this.copiaAtestadoCopia,
                      'equipe': this.equipeCopia,
                      'placaVeiculo': this.placaVeiculoCopia,
                      'comunicado': this.comunicadoSelecionadoCopia.id,
                      'funcionario': this.matriculaResponsavelCopia,
                      'parceiro': this.matriculaParceiroCopia
                    })
                  })
                  this.errorClass = 'has-success'
                  this.mensagemEnvio = 'Enviado com sucesso'
                }, (response) => {
                  console.log('erro: ', response)
                  this.errorClass = 'has-warning'
                  this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
                })
              })
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          } else {
            this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
              'Matricula': this.matriculaResponsavel,
              'Nome': this.nomeResponsavel,
              'DataNascimento': '0000-00-00',
              'Sexo': '',
              'EstadoCivil': '',
              'InicioFuncao': '',
              'GrauInstrucao': '',
              'EstadoInstrucao': '',
              'InicioRefeicao': '',
              'FinalRefeicao': '',
              'TurnoTrabalho': '',
              'Nacionalidade': '',
              'TB_Local_idTB_Local': 'NULL',
              'TB_Funcao_idTB_Funcao': 'NULL',
              'TB_LocalidadePolo_idTB_LocalidadePolo': 'NULL'
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataFuncionario) => {
                this.matriculaResponsavel = this.matriculaResponsavelCopia
                this.nomeResponsavel = this.nomeResponsavelCopia
                this.$store.commit('ADD_FUNCIONARIO', {
                  'matricula': this.matriculaResponsavelCopia,
                  'nome': this.nomeResponsavelCopia,
                  'dataNascimento': '',
                  'sexo': '',
                  'estadoCivil': '',
                  'inicioFuncao': '',
                  'grauInstrucao': '',
                  'estadoInstrucao': '',
                  'inicioRefeicao': '',
                  'fimRefeicao': '',
                  'turnoTrabalho': '',
                  'nacionalidade': '',
                  'local': {
                    'id': '',
                    'endereco': '',
                    'cep': '',
                    'posicaoGeografica': '',
                    'estado': '',
                    'cidade': ''
                  },
                  'funcao': {'id': '', 'nome': ''},
                  'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                })
                this.matriculaResponsavel = this.matriculaResponsavelCopia
                this.$http.post(this.$store.state.urlAPI + 'dados/funcionarios/novo_funcionario', {
                  'Matricula': this.matriculaParceiro,
                  'Nome': this.nomeParceiro,
                  'DataNascimento': '0000-00-00',
                  'Sexo': '',
                  'EstadoCivil': '',
                  'InicioFuncao': '',
                  'GrauInstrucao': '',
                  'EstadoInstrucao': '',
                  'InicioRefeicao': '',
                  'FinalRefeicao': '',
                  'TurnoTrabalho': '',
                  'Nacionalidade': '',
                  'TB_Local_idTB_Local': 'NULL',
                  'TB_Funcao_idTB_Funcao': 'NULL',
                  'TB_LocalidadePolo_idTB_LocalidadePolo': 'NULL'
                }).then((response) => {
                  console.log('sucess ', response.body)
                  response.json().then((dataFuncionario) => {
                    this.matriculaParceiro = this.matriculaParceiroCopia
                    this.nomeParceiro = this.nomeParceiroCopia
                    this.$store.commit('ADD_FUNCIONARIO', {
                      'matricula': this.matriculaParceiroCopia,
                      'nome': this.nomeParceiroCopia,
                      'dataNascimento': '',
                      'sexo': '',
                      'estadoCivil': '',
                      'inicioFuncao': '',
                      'grauInstrucao': '',
                      'estadoInstrucao': '',
                      'inicioRefeicao': '',
                      'fimRefeicao': '',
                      'turnoTrabalho': '',
                      'nacionalidade': '',
                      'local': {
                        'id': '',
                        'endereco': '',
                        'cep': '',
                        'posicaoGeografica': '',
                        'estado': '',
                        'cidade': ''
                      },
                      'funcao': {'id': '', 'nome': ''},
                      'localidadePolo': {'id': '', 'nome': '', 'polo': {'id': '', 'nome': '', 'regional': {'id': '', 'nome': ''}}}
                    })
                    this.matriculaParceiro = this.matriculaParceiroCopia
                    this.$http.post(this.$store.state.urlAPI + 'formularios/relatos_internos/novo_relato', {
                      'DataCriacao': this.dataCriacao,
                      'HoraCriacao': this.horaCriacao,
                      'HorarioInicioTrabalho': this.inicioTrabalho,
                      'DataAtendimentoMedico': this.dataAtendimento,
                      'HoraAtendimentoMedico': this.horaAtendimento,
                      'ApresentouCopiaAtestado': this.copiaAtestado,
                      'Equipe': this.equipe,
                      'PlacaVeiculo': this.placaVeiculo,
                      'TB_ComunicadoAcidente_idTB_ComunicadoAcidente': this.comunicadoSelecionado.id,
                      'TB_Funcionario_Matricula': this.matriculaResponsavel,
                      'TB_Funcionario_Matricula1': this.matriculaParceiro
                    }).then((response) => {
                      console.log('sucess ', response.body)
                      response.json().then((dataRelato) => {
                        this.$store.commit('ADD_RELATO', {
                          'id': dataRelato.id,
                          'dataCriacao': this.dataCriacaoCopia,
                          'horaCriacao': this.horaCriacaoCopia,
                          'horarioInicioTrabalho': this.inicioTrabalhoCopia,
                          'dataAtendimentoMedico': this.dataAtendimentoCopia,
                          'horaAtendimentoMedico': this.horaAtendimentoCopia,
                          'apresentouCopiaAtestado': this.copiaAtestadoCopia,
                          'equipe': this.equipeCopia,
                          'placaVeiculo': this.placaVeiculoCopia,
                          'comunicado': this.comunicadoSelecionadoCopia.id,
                          'funcionario': this.matriculaResponsavelCopia,
                          'parceiro': this.matriculaParceiroCopia
                        })
                      })
                      this.errorClass = 'has-success'
                      this.mensagemEnvio = 'Enviado com sucesso'
                    }, (response) => {
                      console.log('erro: ', response)
                      this.errorClass = 'has-warning'
                      this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
                    })
                  })
                }, (response) => {
                  console.log('erro: ', response)
                  this.errorClass = 'has-warning'
                  this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
                })
              })
            }, (response) => {
              console.log('erro: ', response)
              this.errorClass = 'has-warning'
              this.mensagemEnvio = 'Falha na rede. Verifique sua conexão'
            })
          }
        }
      },
      getFuncionarios () {
        this.$http.get(this.$store.state.urlAPI + 'dados/funcionarios').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCIONARIOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.error2Class = 'alert-warning'
          this.erro = true
        })
      },
      desaparecer () {
        this.erro = false
      },
      reverseData (dataIn) {
        return dataIn.split('/').reverse().join('-')
      },
      procurarEndereco (pol) {
        for (var endereco in this.dados.address_components) {
          for (var politica in this.dados.address_components[endereco].types) {
            if (this.dados.address_components[endereco].types[politica] === pol) {
              return this.dados.address_components[endereco].long_name
            }
          }
        }
        return ''
      },
      carregarEnderecos () {
        this.endereco = this.procurarEndereco('route') + ' - ' + this.procurarEndereco('sublocality')
        this.cidade = this.procurarEndereco('administrative_area_level_2')
        this.estado = this.procurarEndereco('administrative_area_level_1')
        var cep = this.procurarEndereco('postal_code').split('-')
        this.cep = Number(cep[0] + cep[1])
        this.posicaoGeografica = JSON.stringify(this.vm.location.geometry.location)
      },
      autoResponsavel () {
        let index = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaResponsavel)
        if (index !== -1) {
          this.nomeResponsavel = this.funcionarios[index].nome
          this.endereco = this.funcionarios[index].local.endereco
          this.vm.searchPlace = this.funcionarios[index].local.endereco
          this.cep = this.funcionarios[index].local.cep
          this.cidade = this.funcionarios[index].local.cidade
          this.estado = this.funcionarios[index].local.estado
          this.posicaoGeografica = this.funcionarios[index].local.posicaoGeografica
          this.funcaoSelecionada = this.funcionarios[index].funcao
        }
      },
      autoParceiro () {
        let index = this.funcionarios.findIndex(fun => fun.matricula === this.matriculaParceiro)
        if (index !== -1) {
          this.nomeParceiro = this.funcionarios[index].nome
        }
      },
      getFuncoes () {
        this.$http.get(this.$store.state.urlAPI + 'dados/funcoes').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCOES', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
      },
      getComunicadosInternos () {
        this.$http.get(this.$store.state.urlAPI + 'formularios/comunicados_internos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_COMUNICADOSINTERNOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.mensagemErro = 'Falha na rede. Verifique sua conexão'
          this.errorClass = 'alert-warning'
          this.erro = true
        })
      }
    }
  }
</script>
<style>

</style>
