<template>
  <div>
    <section class="content">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title">Informação do Relato Interno</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <router-link to="/analisesrisco" tag="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"> Fechar</router-link>
              </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
              <fieldset>
                <legend>Dados do acidentado</legend>
                <div class="input-group">
                  <span class="input-group-addon" id="nome">Nome</span>
                  <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="desvio.funcionario.nome" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" >Matrícula</span>
                  <input type="text" class="form-control" v-model="desvio.funcionario.matricula" placeholder="ex: 220302" readonly>
                </div>
                <br/>
                <fieldset>
                  <legend>Local</legend>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Endereço</span>
                    <input type="text" class="form-control" v-model="desvio.local.endereco" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cep">CEP</span>
                    <input type="number" class="form-control" placeholder="ex: 66115080" v-model="desvio.local.cep" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="estado">Estado</span>
                    <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="desvio.local.estado" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cidade">Cidade</span>
                    <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="desvio.local.cidade" readonly>
                  </div>
                </fieldset>
                <br/>
                <div class="form-group">
                  <label class="control-label">Cargo:</label>
                  <select v-model="funcaoSelecionada" class="form-control">
                    <option v-for="funcao in funcoes" :value="funcao">{{funcao.nome}}</option>
                  </select>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Horario do inicio da jornada de trabalho</span>
                    <input type="time" class="form-control" v-model="desvio.horaOcorrido" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Equipe</span>
                  <input type="text" class="form-control" v-model="desvio.local.endereco" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" id="endereco">Placa da viatura</span>
                  <input type="text" class="form-control" v-model="desvio.local.endereco" readonly>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Dados do parceiro</legend>
                <div class="input-group">
                  <span class="input-group-addon" id="nome">Nome</span>
                  <input type="text" class="form-control" name="nome" placeholder="Nome do Funcionario" v-model="desvio.funcionario.nome" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon" >Matrícula</span>
                  <input type="text" class="form-control" v-model="desvio.funcionario.matricula" placeholder="ex: 220302" readonly>
                </div>
              </fieldset>
              <br/>
              <fieldset>
                <legend>Dados do acidente</legend>
                <div class="input-group">
                  <span class="input-group-addon">Data do acidente</span>
                    <input type="date" class="form-control" placeholder="31/12/1994" v-model="desvio.dataOcorrido" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Hora do acidente</span>
                    <input type="time" class="form-control" v-model="desvio.horaOcorrido" readonly>
                </div>
                <br/>
                <fieldset>
                  <legend>Local do acidente</legend>
                  <div class="input-group">
                    <span class="input-group-addon" id="endereco">Endereço</span>
                    <input type="text" class="form-control" v-model="desvio.local.endereco" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cep">CEP</span>
                    <input type="number" class="form-control" placeholder="ex: 66115080" v-model="desvio.local.cep" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="estado">Estado</span>
                    <input type="text" class="form-control" id="estado" placeholder="ex: Pará" v-model="desvio.local.estado" readonly>
                  </div>
                  <br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="cidade">Cidade</span>
                    <input type="text" class="form-control" id="cidade" placeholder="ex: Belém" v-model="desvio.local.cidade" readonly>
                  </div>
                </fieldset>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Data do atendimento médico</span>
                    <input type="date" class="form-control" placeholder="31/12/1994" v-model="desvio.dataOcorrido" readonly>
                </div>
                <br/>
                <div class="input-group">
                  <span class="input-group-addon">Hora do atendimento médico</span>
                    <input type="time" class="form-control" v-model="desvio.horaOcorrido" readonly>
                </div>
                <br/>
                <div class="form-group">
                  <label class="control-label">Apresentou cópia do atestado?</label>
                  <label class="radio-inline">
                    <input type="radio" name="tipo" v-model.number="desvio.tipo" value="1" readonly> Sim
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="tipo" v-model.number="desvio.tipo" value="0" readonly> Não
                  </label>
                </div>
                <br/>
              </fieldset>
              <fieldset>
                <legend>Informações do acidente</legend>
                <div class="form-group" v-for="(pergunta,index) in perguntasrelato">
                  <label class="control-label">pergunta.nome</label>
                  <textarea class="form-control" rows="3" v-model="respostas[index]" readonly></textarea>
                </div>
                <br/>
              </fieldset>
              <div style="width: 100%; height: 300px">
                <google-map :center="center" :zoom="17">
                  <map-marker :position="marker" :opacity="marker.opacity" v-model="marker">
                  </map-marker>
                </google-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  import * as VueGoogleMaps from 'vue2-google-maps'
  export default {
    name: 'desvio',
    data () {
      return {
        marker: { lat: JSON.parse(this.$store.state.relatosInternos[this.$route.query.index].comunicado.local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.relatosInternos[this.$route.query.index].comunicado.local.posicaoGeografica).lng },
        center: { lat: JSON.parse(this.$store.state.relatosInternos[this.$route.query.index].comunicado.local.posicaoGeografica).lat, lng: JSON.parse(this.$store.state.relatosInternos[this.$route.query.index].comunicado.local.posicaoGeografica).lng }
      }
    },
    computed: {
      relatoInterno () {
        return this.$store.state.relatosinternos[this.$route.query.index]
      }
    },
    components: {
      'googleMap': VueGoogleMaps.Map,
      'MapMarker': VueGoogleMaps.Marker
    }
  }
</script>
<style>

</style>
